<ion-view view-title="Carsa address book">
  <ion-header-bar class="bar-positive">
    <h1 class="title text-center">Carsa address book sign in</h1>
  </ion-header-bar>
  <ion-content class="padding signin">
    <form name="signinForm">
      <div class="list">
        <div class="text-center padding">
          <img ng-if="!image" ng-click="getImage()" ng-src="{{defaultImage}}">
          <img ng-if="image" ng-click="getImage()" ng-src="{{image}}">
        </div>
        <ion-list class="gender">
          <ion-radio ng-click="SigninCtrl.setDefaultImage(signinData.gender)" ng-model="signinData.gender" ng-value="'G'">Generic</ion-radio>
          <ion-radio ng-click="SigninCtrl.setDefaultImage(signinData.gender)" ng-model="signinData.gender" ng-value="'M'">Male</ion-radio>
          <ion-radio ng-click="SigninCtrl.setDefaultImage(signinData.gender)" ng-model="signinData.gender" ng-value="'F'">Female</ion-radio>
        </ion-list>
        <div class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <span ng-if="signinForm.email.$dirty && !signinData.email" class="error-message">Email required</span>
          <input name="email" type="email" ng-model="signinData.email" placeholder="Email" required>
        </div>
        <div class="item item-input item-floating-label">
          <span class="input-label">Name</span>
          <input name="name" type="text" ng-model="signinData.name" placeholder="Name">
        </div>
        <div class="item item-input item-floating-label">
          <span class="input-label">Surname</span>
          <input name="surname" type="text" ng-model="signinData.surname" placeholder="Surname">
        </div>
        <div class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <span ng-if="signinForm.pwd.$dirty && !signinData.password" class="error-message">Password required</span>
          <input name="pwd" type="password" ng-model="signinData.password" placeholder="Password" required>
        </div>
        <div class="item item-input item-floating-label">
          <span class="input-label">Pepeat password</span>
          <span ng-if="signinForm.rpwd.$dirty && signinData.repeatPassword !== signinData.password" class="error-message">The passwords must maatch</span>
          <input name="rpwd" type="password" ng-model="signinData.repeatPassword" placeholder="Pepeat password">
        </div>
        <div class="item">
          <button ng-disabled="signinForm.$invalid || signinData.repeatPassword !== signinData.password" class="button button-block button-positive"
            ng-click="SigninCtrl.doSignIn()">Sign in</button>
            <a ng-click="SigninCtrl.goToLogin()">
              <h3 class="text-center positive">Return to log in</h3>
            </a>
        </div>
      </div>
    </form>

  </ion-content>
</ion-view>
