.contacts {

  ion-option-button.button {
    min-width: 0px;
  }

  a.favourites {
    font-size: 2rem;
    float: right;
    position: absolute;
    top: 25%;
    right: 10px;
  }

  a.telephone {
    font-size: 2rem;
    float: right;
    position: absolute;
    top: 22px;
    right: 50px;
  }

  .yourUser {
    background: #ddd;
  }

}
