.contacts {
  .mc-rounded {
    border-radius: 50%;
    padding:4px;
    position: absolute;
    right: 5px;
    bottom: 5px;
  }

  ion-option-button.button {
    min-width: 0px;
  }

  a.favourites {
    font-size: 2rem;
    float: right;
    position: absolute;
    top: 25%;
    right: 15px;
  }

}
