<ion-view view-title="Contacts" class="contacts">
  <ion-content class="">
    <ion-list>
      <ion-item class="item-avatar-left yourUser">
        <img ng-if="!ContactsCtrl.yourUser.custom.myImage && ContactsCtrl.yourUser.type === 'ionic'" ng-src="{{ContactsCtrl.yourUser.defImage}}">
        <img ng-if="ContactsCtrl.yourUser.custom.myImage" ng-src="{{ContactsCtrl.yourUser.custom.myImage}}">
        <h2 class="positive">Hi {{ContactsCtrl.yourUser.custom.userCustomData.name}} {{ContactsCtrl.yourUser.custom.userCustomData.surname}}</h2>
        <p>{{ContactsCtrl.yourUser.details.email}}</p>
      </ion-item>
      <h5 ng-if="ContactsCtrl.myUsersList.length !== 0" class="text-center assertive">
        Your contact list
      </h5>
      <ion-item ng-repeat="item in ContactsCtrl.myUsersList" class="item-avatar-left ">
        <img ng-if="!item.custom.myImage && item.type === 'ionic'" ng-src="{{item.defImage}}">
        <img ng-if="item.custom.myImage" ng-src="{{item.custom.myImage}}">
        <h2>{{item.type}} users</h2>
        <p>created: {{item.created | date : 'dd MMM yyyy'}}</p>
        <ion-option-button class="button-assertive" ng-click="delete(item)">
          <i class="icon ion-trash-a"></i>
        </ion-option-button>
        <ion-option-button class="button-balanced" ng-click="detail(item)">
          <i class="icon ion-android-expand"></i>
        </ion-option-button>
        <ion-option-button class="button-dark" ng-click="message(item)">
          <i class="icon ion-chatbubble-working"></i>
        </ion-option-button>
        <a class="favourites positive" ng-click="item.isFavourite=!item.isFavourite;changeFavouritsStatus()"><i class="icon" ng-class="{'ion-ios-star': item.isFavourite, 'ion-ios-star-outline': !item.isFavourite}"></i></a>
        <a class="telephone assertive" ng-if="item.custom.userCustomData.phone && item.custom.userCustomData.phone !== ''" href="tel:{{item.custom.userCustomData.phone}}"><i class="icon ion-ios-telephone"></i></a>

      </ion-item>
    </ion-list>

    <div class="padding text-center" ng-if="ContactsCtrl.myUsersList.length === 0">
      <h5 class="assertive">Add contact</h5>
      <p class="">Add new contact to create your list</p>
      <p class="">for add contact press add button</p>
    </div>

  </ion-content>
  <button class="button button-positive icon ion-plus-round mc-rounded" ng-click="openContacts()"></button>
</ion-view>
