<div class="item item-avatar">
  <img ng-if="!detailItem.custom.myImage && detailItem.type === 'ionic'" ng-src="{{detailItem.defImage}}">
  <img ng-if="detailItem.custom.myImage" ng-src="{{detailItem.custom.myImage}}">
  <h2>{{detailItem.type}} users</h2>
  <p>Name: {{detailItem.custom.userCustomData.name || '' + ' ' + detailItem.custom.userCustomData.surname || ''}}</p>
</div>

<ion-list>
  <ion-item>
    Birthdate: {{detailItem.custom.userCustomData.birthdate || 'no set'}}
  </ion-item>
  <ion-item>
    Phone: {{detailItem.custom.userCustomData.phone || 'no set'}}
  </ion-item>
  <ion-item>
    Address: {{detailItem.custom.userCustomData.address || 'no set'}}
  </ion-item>
  <ion-item>
    Country: {{detailItem.custom.userCustomData.country || 'no set'}}
  </ion-item>
  <ion-item>
    City: {{detailItem.custom.userCustomData.city || 'no set'}}
  </ion-item>
</ion-list>
