<div class="dashCard">
  <ng-include ng-if="cardType == 1" src="'Main/directives/templates/dash-card-contacts.html'"></ng-include>
  <ng-include ng-if="cardType == 2" src="'Main/directives/templates/dash-card-favorites.html'"></ng-include>
  <ng-include ng-if="cardType == 3" src="'Main/directives/templates/dash-card-messages.html'"></ng-include>
  <ng-include ng-if="cardType == 4" src="'Main/directives/templates/dash-card-appointments.html'"></ng-include>
  <ng-include ng-if="cardType == 5" src="'Main/directives/templates/dash-card-appointment.html'"></ng-include>
  <ng-include ng-if="cardType == 6" src="'Main/directives/templates/dash-card-contact.html'"></ng-include>
</div>
