<ion-view view-title="Carsa address book">
  <ion-content class="padding mc-bg-color">
    <div class="row">
      <div class="col">
        <dash-card card-type="1"
                   title="Contatti"
                   bedge="200"
                   bg-icon="" ng-click="openDetail()"></dash-card>
      </div>
      <div class="col">
        <dash-card card-type="2"
                   title="Preferiti"
                   bedge="99"
                   bg-icon=""></dash-card>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <dash-card card-type="3"
                   title="Messaggi"
                   bedge="10"
                   bg-icon=""></dash-card>
      </div>
      <div class="col">
        <dash-card card-type="4"
                   title="Appuntamenti"
                   bedge="5"
                   bg-icon=""></dash-card>
      </div>
    </div>
  </ion-content>
</ion-view>
